<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Brand</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
  <link rel="stylesheet" href="/stylesheets/bs-theme-overrides.css">
  <link rel="stylesheet" href="/stylesheets/baguetteBox.min.css">
  <link rel="stylesheet" href="/stylesheets/vanilla-zoom.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/baguetteBox.min.js"></script>
  <script src="/javascripts/vanilla-zoom.js"></script>
  <script src="/javascripts/theme.js"></script>
  <script src="/javascripts/indexList.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
  <div class="container"><a class="navbar-brand logo" href="/" style="color: var(--bs-primary);">The Reading Room</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/" style="color: var(--bs-primary);">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about-us.html" style="color: var(--bs-primary);">About Us</a></li>
        <% if (isAuthenticated) { %>
          <!-- Show this when the user is authenticated -->
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><%= username %></a>
            <div class="dropdown-menu" data-bs-popper="none">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/signout">Sign out</a>
            </div>
          </li>
        <% } else { %>
          <!-- Show this when the user is not authenticated -->
          <li class="nav-item" id="login-button">
            <a class="nav-link" href="/login" style="color: var(--bs-primary);">Log in</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<main class="page landing-page">
  <section class="clean-block clean-hero" style="color: rgba(86,58,25,0.81);background: url('/images/pexels-element-digital-1370295.jpg');">
    <div class="text">
      <h2>Discover Your Next Great Read and Join a Community of Book Lovers!</h2>
      <p>Find Your Next Book Adventure at The Reading Room. Connect with Fellow Readers, Explore Countless Stories, and Share Your Literary Journey.</p><button class="btn btn-outline-light btn-lg" type="button">Find a book!</button>
    </div>
  </section>
  <section class="clean-block clean-info dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info" style="color: var(--bs-primary);">Info</h2>
        <p style="max-width: 600px;">Below, you'll find a treasure trove of book reviews shared by fellow readers. Click on a review to discover what others think about these books, and feel free to contribute your own review to the discussion.</p>
      </div>
      <div style="text-align: center;">
        <div class="btn-group" role="group" style="text-align: center;">
          <button class="btn btn-primary" type="button" onclick="window.location.href='/create_review'">Post a Review!</button>
        </div>
      </div>
    </div>
    <div class="table-responsive text-center border-1" style="margin: 18px;">
      <table class="table">
        <thead class="border-black">
        <tr>
          <th class="border rounded-0 border-1 border-primary">Title:</th>
          <th class="border rounded-0 border-1 border-primary">Author:</th>
          <th class="border rounded-0 border-1 border-primary">Rating:</th>
          <th class="border rounded-0 border-1 border-primary">Posted by:</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </section>
</main>
<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Legal</h5>
        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2023 Copyright Text</p>
  </div>
</footer>

</body>

</html>