<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Offline</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="/stylesheets/bs-theme-overrides.css">
    <link rel="stylesheet" href="/stylesheets/baguetteBox.min.css">
    <link rel="stylesheet" href="/stylesheets/vanilla-zoom.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/baguetteBox.min.js"></script>
    <script src="/javascripts/vanilla-zoom.js"></script>
    <script src="/javascripts/theme.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
    <div class="container"><a class="navbar-brand logo" href="/" style="color: var(--bs-primary);">The Reading Room</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/" style="color: var(--bs-primary);">Home</a></li>
                <% if (isAuthenticated) { %>
                    <!-- Show this when the user is authenticated -->
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="chatName"><%= username %></a>
                        <div class="dropdown-menu" data-bs-popper="none">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/signout">Sign out</a>
                        </div>
                    </li>
                <% } else { %>
                    <!-- Show this when the user is not authenticated -->
                    <li class="nav-item" id="login-button">
                        <a class="nav-link" href="/login" style="color: var(--bs-primary);">Log in</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div>
                <h1 style="text-align: center;">Offline</h1>
                <p style="text-align: center;">Please connect to the internet to see this page.</p>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2023 Copyright Text</p>
        </div>
    </footer>
</body>

</html>