<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Features - Brand</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="/stylesheets/bs-theme-overrides.css">
    <link rel="stylesheet" href="/stylesheets/baguetteBox.min.css">
    <link rel="stylesheet" href="/stylesheets/vanilla-zoom.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/baguetteBox.min.js"></script>
    <script src="/javascripts/vanilla-zoom.js"></script>
    <script src="/javascripts/theme.js"></script>
    <script src="/javascripts/viewReview.js"></script>
    <script src="/javascripts/comments.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
    <div class="container"><a class="navbar-brand logo" href="/" style="color: var(--bs-primary);">The Reading Room</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/" style="color: var(--bs-primary);">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about-us.html" style="color: var(--bs-primary);">About Us</a></li>
                <% if (isAuthenticated) { %>
                    <!-- Show this when the user is authenticated -->
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="chatName"><%= username %></a>
                        <div class="dropdown-menu" data-bs-popper="none">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/signout">Sign out</a>
                        </div>
                    </li>
                <% } else { %>
                    <!-- Show this when the user is not authenticated -->
                    <li class="nav-item" id="login-button">
                        <a class="nav-link" href="/login" style="color: var(--bs-primary);">Log in</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading"  style="margin-bottom: 60px">
                    <h2 class="text-info" id="titleAuthor"></h2>
                </div>
                <div>
                    <div id="APIData" class="container">
                        <div class="row">
                            <div class="col-md-6" style="text-align: center;">
                                <img id="img" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto; padding-bottom: 20px">

                            </div>
                            <div class="col-md-6">
                                <div style="text-align: left; height: 100%; display: flex; flex-direction: column;">
                                    <p id="abstract" style="flex: 1; overflow-y: auto;"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 9px;padding-bottom: 9px;margin-bottom: 15px;margin-top: 20px;">
                    <div class="col-md-6">
                        <h1 id="username" style="text-align: center;font-size: 22.88px;">Review by:&nbsp;</h1>
                    </div>

                    <div class="col-md-6">
                        <div class="rating" style="text-align: center;font-size: 23px;">
                            <span id="star1" class="star" data-rating="1">&#9733;</span>
                            <span id="star2" class="star" data-rating="2">&#9733;</span>
                            <span id="star3" class="star" data-rating="3">&#9733;</span>
                            <span id="star4" class="star" data-rating="4">&#9733;</span>
                            <span id="star5" class="star" data-rating="5">&#9733;</span>
                        </div>
                    </div>
                </div>
                <div class="card" style="border-width: 2px;border-color: var(--bs-primary);margin-left: 10px;margin-right: 10px;margin-bottom: 30px;">
                    <div class="card-body">
                        <p id="review" class="card-text"></p>
                    </div>
                </div>
                <div style="height: 130px;margin-bottom: 17px;margin-left: 10px;margin-right: 10px;"><textarea id="history" style="width: 100%;height: 100%;resize: none;margin-left: 2px;" readonly=""></textarea></div>
                <div class="row">
                    <div class="col-md-6" style="margin-left: 10px;">
                        <div style="max-width: 100%; margin: 0 auto;">
                            <input id="chat_input" type="text" class="form-control mb-2" placeholder="Type your message">
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-left: 10px;">
                        <button id="sendMsg" class="btn btn-primary btn-block" type="button">Send</button>
                    </div>
                </div>


            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2023 Copyright Text</p>
        </div>
    </footer>
</body>

</html>